header {
border-top: solid;
padding: 15px;

}

body {
    background-color: #e8e8f0;

}

h1 {
	border-top: black;
	margin: 20px;
	font-size: 30px;
    color: black;
    text-align: center;
    font-family: Helvetica;
    padding: 15px;
}

h2 {
	text-align: left;
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 40px;
	margin-top: 30px;

}

p {
    margin-top: 30px; 
    font-family: Helvetica;
    font-size: 20px;
    margin-left: 40px;
  
}
nav {text-align: center;}

footer { 
	padding-top: 15px;
	margin-top: 200px;
	text-align: center;
    border-bottom: solid;
    font-size: 20px;
    padding-bottom: 100px;

}

footer a {
	padding-bottom: 10px;

}
aside {
	float: right;
	margin: auto;
	width: 30%;

}

.left-side {
	float: left;
	width: 70%;
	margin-bottom: solid;

}

.robot {
	width: 70%;
	float: right;
	margin-right: 30px;
	padding-top: 5px;
	border: solid;
	margin-bottom: 50%;
}
